body {
  margin: 0 !important;
}

#root {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0.5rem 6.3rem;
  border-bottom: 0.6px solid #dad6d6;
}

.nav-bar .image-container img {
  width: 4rem;
  margin-top: 0.5rem;
}

.nav-bar ul {
  list-style-type: none;
  display: inline-flex;
}

.nav-bar ul li {
  padding: 0.5rem 1rem;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #4e4c4c;
  font-weight: 100;
}

.hero {
  padding: 0rem 7rem;
  background: #cae4f5;
  padding: 7rem 8.9rem;
  color: #4e4c4c;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  width: 50%;
}

.create {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  margin-right: 3rem;
}

.create .create-btn {
  padding: 0.5rem;
  background: rgb(115, 201, 250);
  width: 10%;
  border: none;
  font-size: 0.9rem;
  color: #272525;
  cursor: pointer;
  border-radius: 4px;
}

.create .create-btn:active,
.create .create-btn:focus
 {
   box-shadow: none !important;
   outline: none !important;
 }

.articles {
  padding: 5rem 6.3rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.10);
  position: relative;
}

.card .card-bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
}

.card .card-bottom .author {
  padding-left: 1rem;
  margin: 0;
  padding-top: 0.8rem;
  text-decoration: none;
  color: #222222;
  font-weight: 100;
  font-size: 1.1rem;
}

.card .card-bottom .card-img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.10);
}

.article-link {
  background: rgb(90, 181, 241);
  text-decoration: none;
  padding: .5rem;
  border-radius: 4px;
  color: #4e4c4c;
}

.page-numbers {
  padding: 1rem;
}

.create-form {
  width: 30rem;
  padding: 2rem;
}

.create-form input{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 100%;
  margin: auto;
}

.create-form input:active,
.create-form input:focus{
  box-shadow: none;
  outline: none;
}

.action-section {
  display: flex;
  justify-content: flex-end;
}

.action-section button {
  background: transparent;
  border: 1px solid #eee;
  cursor: pointer;
  color: rgb(104, 40, 40);
  font-size: 1rem;
  margin-right: 0.7rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.show__content {
  width: 40rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
}

.show__content h3 { 
  width: 60%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.show__content img { 
  border-radius: 100%;
  width: 8rem;
  object-fit: contain;
  margin-bottom: 2rem;
}

.show__content a { 
  color: #222222;
}

.show__content h2 { 
  color: #222222;
  margin-top: 1rem;
}

.show__content .comment__section {
  display: flex;
}

.show__content .comment__section img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.show__content .comment__section p {
  text-align: start;
  margin-top: -2rem;
}

.comment {
  width: 75%;
  margin: auto;
  resize: none;
}

.comment__btn {
  float: right;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid #eee;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #ffffff;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}


.modal-header {
  position: fixed;
}

.comment-name {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.modal-content h2 {
  text-align: center;
}

.form-control {
  padding: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
}

.button-container .submit-btn {
  width: 40%;
  padding: 0.6rem;
  background: transparent;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.10);
  cursor: pointer;
}

.modal-header .close-modal {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: rgb(236, 65, 65);
}

.modal p + p {
  margin-top: 1rem;
}

.page-footer {
  text-align: center;
  padding: 0.3rem;
  background: #cae4f5;
  color: #222222;
}

.page-footer span {
  color: #e31b23;;
}

[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}